@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url(./image/FotoDeFundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fundo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: rgba(0, 0, 0, 0.849);
    width: 350px;
    height: 450px;
    border-radius: 20px;
    /* box-shadow: black, 10, 20; */
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px 0px 50px 0px;
}

hr {
    width: 8rem;
    height: 3px;
    background-color: rgba(255, 255, 0, 0.877);
    border: 0px;
    margin: -50px 0px 0px 28px ;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
    width: 85%;
    height: 2.3rem;
    border-radius: 5px;
    margin-left: 20px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    margin: 60px 0px 0px 30px;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    margin: 20px 0px 0px 30px;
    letter-spacing: 1px;
}

button {
    background-color: rgba(255, 255, 0, 0.877);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6rem;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    margin-top: 50px;
    
}


#logos {
    font-family: 'Caveat', cursive;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);  
    display: inline-block;
    margin: 5px 2px 0px 0px;
}